/*-- le logo --*/


header{
    border: 1px solid black;
    height: 50px;
    background-color: #ffffff;
}
.logo{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.logo img{
    border: 2px solid green;
    width: 45%;
    
}

/*-- la barre de recherche --*/

.Barre_de_recherche{
    border: 1px solid red;
    height: 35px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
}
.Barre_de_recherche i{
    padding: 5px;
    margin-right: 2px;
    display: flex;
    align-items: center;
}

/*-- Erreur à réctifier couleur "Paris" --*/

#lieu_de_recherche{
    width: 95px;
    background-color: #eaeaea;
    border: none;
}

/*-- Réservation menu information --*/

.Réservation{
    border: 1px solid green;
    height: 285px;
    background-color: #f6f6f6;
}
.Réservation h1{
    border: 1px solid red;
    text-align: center;
    font-size: 1.3em;
}

.Réservation h3{
    border: 1px solid red;
    text-align: center;
    font-family: Roboto;
}

/*-- Fonctionnement --*/

.Fonctionnement{
    border: 1px solid black;
    height: 440px;
}
.Fonctionnement_option{
    border: 1px solid green;
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.option{
    border: 1px solid red;
    border-radius: 25px;
    height: 75px;
}

/*-- Restaurant --*/

.Restaurants{
    border: 1px solid black;
    height: auto;
}

.groupe_restaurant{
    border: 1px solid green;
    height: 1225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}

.img_title{
    border: 1px solid red;
    height: 250px;
    margin: 15px;
    border-radius: 20px;
}

.restaurant_image{
    border: 1px solid black;
    height: 175px;
    border-top-right-radius: 8%;
    border-top-left-radius: 8%;
}

.restaurant_titre{
    border: 1px solid gold;
    height: 74px;
}

.restaurant_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
}
/*-- Pas d'espace entre le h3 et le p?--*/

.restaurant_titre p{
    margin: 2px;
    font-family: Roboto;
}




/*-- Footer --*/

footer{
    border: 1px solid black;
    height: 195px;
    background-color: #353535;
}

/*-- Footer (changer le fond de couleur du logo? --*/
.footer_image img{
    width: 95px;
    height: 20px;
    background-color: white;
}


1) Faire les polices caractères (shrikhand) (font family) FAIT

2) margin top botton etc à faire et ajouter margin 0

